<md-dialog aria-label="List dialog" flex="70">
    <md-toolbar class="_md _md-toolbar-transitions">
        <div class="md-toolbar-tools">
            <h2>{{obj.titulo}}</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-padding _md" layout="row" layout-align="center center">
            <img flex="50" src="{{obj.imagem.url}}">
        </div>
        <div layout="row" layout-align="center center">
            <p>{{obj.imagem.descricao}}</p>
        </div>
        <div layount="row" layout-align="center center">
            <div layout="row" layout-align="space-around" class="layout-align-space-around-stretch layout-row">
                <div layout="column" layout-align="start center" class="layout-align-start-center layout-column">
                    <md-fab-speed-dial md-open="false" md-direction="right" class="md-scale">
                        <md-fab-trigger>
                            <md-button aria-label="menu" class="md-fab md-warn">
                                <md-icon class="material-icons">tag_faces</md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button ng-click="classificacao('Gostei')" aria-label="Gostei" class="md-fab md-raised md-mini">
                                <md-icon class="material-icons" aria-label="Gostei">thumb_up</md-icon>
                            </md-button>
                            <md-button ng-click="classificacao('Sensacional')" aria-label="Sensacional" class="md-fab md-raised md-mini">
                                <md-icon class="material-icons" aria-label="Sensacional">star_rate</md-icon>
                            </md-button>
                            <md-button ng-click="classificacao('Amei')" aria-label="Amei" class="md-fab md-raised md-mini">
                                <md-icon class="material-icons" aria-label="Amei">favorite</md-icon>
                            </md-button>
                            <md-button ng-click="classificacao('Inapropriado')" aria-label="Inapropriado" class="md-fab md-raised md-mini">
                                <md-icon class="material-icons" aria-label="Inapropriado">block</md-icon>
                            </md-button>
                            <md-button ng-click="classificacao('Inválido')" aria-label="Inválido" class="md-fab md-raised md-mini">
                                <md-icon class="material-icons" aria-label="Inválido">cancel</md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>

                <div layout="column" layout-align="start center" class="layout-align-start-center layout-column">
                    <md-button aria-label="menu" class="md-fab md-warn" ng-click="showCategorias = !showCategorias">
                        <md-icon class="material-icons">check_box</md-icon>
                    </md-button>
                </div>
            </div>
            <div ng-show="showCategorias">
                <categorizar-component lista="lista"></categorizar-component>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">
            Fechar
        </md-button>
    </md-dialog-actions>
</md-dialog>