.chipsCategoriaChips md-content.autocomplete {
    min-height: 250px;
}

.chipsCategoriaChips md-content.autocomplete input {
    min-width: 400px;
}

.chipsCategoriaChips .md-item-text.compact {
    padding-top: 8px;
    padding-bottom: 8px;
}

.chipsCategoriaChips .contact-item {
    box-sizing: border-box;
}

.chipsCategoriaChips .contact-item.selected {
    opacity: 0.5;
}

.chipsCategoriaChips .contact-item.selected h3 {
    opacity: 0.5;
}

.chipsCategoriaChips .contact-item .md-list-item-text {
    padding: 14px 0;
    max-width: 190px;
}

.chipsCategoriaChips .contact-item .md-list-item-text h3 {
    margin: 0 !important;
    padding: 0;
    line-height: 1.2em !important;
}

.chipsCategoriaChips .contact-item .md-list-item-text h3,
.chipsCategoriaChips .contact-item .md-list-item-text p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (min-width: 960px) {
    .chipsCategoriaChips .contact-item {
        float: left;
        width: 33%;
    }
}

.chipsCategoriaChips md-contact-chips {
    margin-bottom: 10px;
}

.chipsCategoriaChips .md-chips {
    padding: 5px 0 8px;
}

.chipsCategoriaChips .fixedRows {
    height: 250px;
    overflow: hidden;
}