<div layout="column" class="chipsCategoriaChips" ng-cloak>
    <md-content class="md-padding autocomplete" layout="column">
        <md-contact-chips ng-model="$ctrl.categorias" md-contacts="$ctrl.querySearch($query)" md-contact-name="name" md-require-match="true"
            md-highlight-flags="i" filter-selected="$ctrl.filterSelected" >
            </md-contact-chips>
            <md-list class="fixedRows">
                <md-subheader class="md-no-sticky">Categorias</md-subheader>
                <md-list-item class="md-2-line contact-item" ng-repeat="(index, categoria) in $ctrl.allCategorias" ng-if="$ctrl.categorias.indexOf(categoria) < 0">
                    <div class="md-list-item-text compact">
                        <h3>{{categoria.name}}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, categoria) in $ctrl.categorias">
                    <div class="md-list-item-text compact">
                        <h3>{{categoria.name}}</h3>
                    </div>
                </md-list-item>
            </md-list>
    </md-content>
    <div flex="10">
    <button class="md-raised md-primary md-button md-ink-ripple" type="button" ng-click="$ctrl.categorizar(array)">Categorizar</button>
    </div>
</div>
