<md-dialog flex="70">

    <form name="formCadastro" ng-submit="salvar();" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cadastrar Usuário</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancelar();">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <div layout="row">

                    <md-input-container class="md-block" flex="100">
                        <md-icon class="material-icons">person</md-icon>
                        <input ng-model="model.nome" type="text" name="nome" placeholder="Nome" required>
                        <div class="errors" ng-messages="formCadastro.nome.$error" ng-show="formCadastro.nome.$invalid">
                            <div ng-message="required">Campo obrigatório</div>
                        </div>
                    </md-input-container>

                </div>

                <div layout="row">

                    <md-input-container class="md-block" flex="100">
                        <md-icon class="material-icons">email</md-icon>
                        <input ng-model="model.email" type="email" name="email" placeholder="Email" required>
                        <div class="errors" ng-messages="formCadastro.email.$error"
                             ng-show="formCadastro.email.$invalid">
                            <div ng-message="required">Campo obrigatório</div>
                        </div>
                    </md-input-container>

                </div>

                <div layout="row">

                    <md-input-container class="md-block" flex="45">
                        <md-icon class="material-icons">vpn_key</md-icon>
                        <input ng-model="model.senha" type="password" name="senha" placeholder="Senha" required
                            password-verify="{{model.repeticao_senha}}">
                        <div class="errors" ng-messages="formCadastro.senha.$error"
                             ng-show="formCadastro.senha.$invalid">
                            <div ng-message="required">Campo obrigatório</div>
                            <div ng-message="passwordVerify">Senhas não conferem</div>
                        </div>
                    </md-input-container>

                    <div flex="10"></div>

                    <md-input-container class="md-block" flex="45">
                        <md-icon class="material-icons">vpn_key</md-icon>
                        <input ng-model="model.repeticao_senha" type="password" name="repeticao_senha"
                               placeholder="Repetir Senha" required password-verify="{{model.senha}}">
                        <div class="errors" ng-messages="formCadastro.repeticao_senha.$error"
                             ng-show="formCadastro.repeticao_senha.$invalid">
                            <div ng-message="required">Campo obrigatório</div>
                            <div ng-message="passwordVerify">Senhas não conferem</div>
                        </div>
                    </md-input-container>

                </div>

                <div layout="row" ng-if="exibePerfil" requer-role="USUARIO_PERFIL">

                    <md-input-container class="md-block" flex="100">
                        <md-icon class="material-icons">lock</md-icon>
                        <md-select name="perfil" ng-model="model.id_perfil" placeholder="Perfil">
                            <md-option ng-repeat="p in perfis" value="{{p.id}}">{{p.descricao}}</md-option>
                        </md-select>
                    </md-input-container>

                </div>


        </md-dialog-content>


        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="formCadastro.$invalid">Salvar</md-button>
            <md-button class="md-raised" ng-click="cancelar();">Cancelar</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>