<md-button class="md-grid-item-content" ng-click="$ctrl.showAdvanced()">
    <md-icon class="material-icons" style="color: darkblue;">portrait</md-icon>
    <div class="md-grid-text"> Detalhar</div>
</md-button>
