<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="src/imagens/logo.png"/>
    <title>PIC Your Place</title>

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="src/app.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet"
          type="text/css"/>
    <style>
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-controller="AppController" ng-cloak>

<md-content flex layout-fill>

    <md-sidenav md-component-id="sidenav" class="md-sidenav-left  md-whiteframe-4dp">

        <md-toolbar>
            <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content layout-padding>
            <p show-gt-md requer-role="USUARIO_CONSULTAR">
                <md-button ui-sref="usuario-listar" ng-click="abrirSideNav();"
                           class="md-primary">
                    Consultar Usuários
                </md-button>
            </p>
            <p show-gt-md>
                <md-button ui-sref="local-listar" ng-click="abrirSideNav();"
                           class="md-primary">
                    Consultar meus Locais
                </md-button>
            </p>
        </md-content>

    </md-sidenav>


    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="abrirSideNav();">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>

            <h2 flex md-truncate>PIC a Place</h2>

            <md-button class="md-fab md-mini" aria-label="Favorite" title="Sair" ng-click="sair($event);">
                <md-icon class="material-icons">exit_to_app</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout="column" layout-fill>

        <div ng-show="mensagens.erros.length > 0">
            <md-card style="background-color: #F44336;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="color: white;">Ops!</span>
                    </md-card-title-text>
                    <span layout-align="end start">
                    <a href="javascript:void(0);" title="Fechar" ng-click="btnFecharMensagemErro_onClick();">
                        <md-icon class="material-icons" style="color: white;">close</md-icon>
                    </a>
                </span>
                </md-card-title>
                <md-card-content>
                    <p style="color: white;" ng-repeat="mensagem in mensagens.erros">
                        {{mensagem.texto}}
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <div ng-show="mensagens.sucesso != null">
            <md-card style="background-color: #00E676;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="color: white;">Feito!</span>
                    </md-card-title-text>
                    <span layout-align="end start">
                    <a href="javascript:void(0);" title="Fechar" ng-click="btnFecharMensagemSucesso_onClick();">
                        <md-icon class="material-icons" style="color: white;">close</md-icon>
                    </a>
                </span>
                </md-card-title>
                <md-card-content>
                    <p style="color: white;">
                        {{mensagens.sucesso}}
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <section ui-view></section>

    </md-content>
</md-content>

<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.js"></script>

<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular Material -->
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Input masks -->
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/string-mask/src/string-mask.js"></script>

<!-- angular upload -->
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>

<!-- Material data table -->
<script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>

<!-- ngmap -->
<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>

<!-- Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASpAcji_IwR0dloG_q3QChN-4UwVEkB-A"></script>

<!-- Aplicação -->
<script src="src/modulos/module.app.js"></script>
<script src="src/components/detalhar-imagem/detalhar-imagem.module.js"></script>
<script src="src/components/categorizar/categorizar.module.js"></script>
<script src="src/compartilhado/usuario.module.js"></script>
<script src="src/modulos/module.directives.js"></script>
<script src="src/modulos/module.helpers.js"></script>
<script src="src/dist/app.dist.js"></script>

</body>

<script type="text/javascript">

</script>

</html>
