<!DOCTYPE html>
<html lang="pt-br" ng-app="login">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="src/imagens/logo.png"/>
    <title>PIC Your Place</title>

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet"
          type="text/css"/>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body ng-controller="LoginController">

<md-content flex layout-fill>

    <md-content layout="column" flex="100">


        <div ng-show="mensagens.erros.length > 0">
            <md-card style="background-color: #F44336;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="color: white;">Ops!</span>
                    </md-card-title-text>
                    <span layout-align="end start">
                    <a href="javascript:void(0);" title="Fechar" ng-click="btnFecharMensagemErro_onClick();">
                        <md-icon class="material-icons" style="color: white;">close</md-icon>
                    </a>
                </span>
                </md-card-title>
                <md-card-content>
                    <p style="color: white;" ng-repeat="mensagem in mensagens.erros">
                        {{mensagem.texto}}
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <div ng-show="mensagens.sucesso != null">
            <md-card style="background-color: #00E676;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="color: white;">Feito!</span>
                    </md-card-title-text>
                    <span layout-align="end start">
                    <a href="javascript:void(0);" title="Fechar" ng-click="btnFecharMensagemSucesso_onClick();">
                        <md-icon class="material-icons" style="color: white;">close</md-icon>
                    </a>
                </span>
                </md-card-title>
                <md-card-content>
                    <p style="color: white;">
                        {{mensagens.sucesso}}
                    </p>
                </md-card-content>
            </md-card>
        </div>

        <md-card layout-align="center center">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">PIC a Place</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <form name="formModel">
                    <div layout="row">

                        <md-input-container class="md-block" flex="100">
                            <md-icon class="material-icons">person</md-icon>
                            <input ng-model="model.email" type="text" name="email" placeholder="Email">
                        </md-input-container>

                    </div>

                    <div layout="row">

                        <md-input-container class="md-block" flex="100">
                            <md-icon class="material-icons">email</md-icon>
                            <input ng-model="model.senha" type="password" name="senha" placeholder="Senha">
                        </md-input-container>

                    </div>
                </form>

            </md-card-content>


            <md-card-actions layout="row">
                <div layout-align="start center">
                    <md-button class="md-raised md-primary" ng-click="entrar();">Entrar</md-button>
                    <md-button class="md-raised" ng-click="registrar($event);">Registrar</md-button>
                </div>
            </md-card-actions>

        </md-card>

    </md-content>
</md-content>


<!-- jQuery -->
<script src="bower_components/jquery/dist/jquery.js"></script>

<!-- Angular -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- Angular Material -->
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<!-- Input masks -->
<script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
<script src="bower_components/string-mask/src/string-mask.js"></script>

<!-- Aplicação -->
<script src="src/modulos/module.app.login.js"></script>
<script src="src/modulos/module.directives.js"></script>
<script src="src/modulos/module.helpers.js"></script>
<script src="src/compartilhado/usuario.module.js"></script>
<script src="src/dist/login.dist.js"></script>
</div>

</body>

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
</html>
