<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Consultar</span>
            <span class="md-subhead">Consulte usuários cadastrados</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

        <form name="formFiltro">

            <div layout="row">

                <md-input-container class="md-block" flex="100">
                    <md-icon class="material-icons">person</md-icon>
                    <input ng-model="model.nome" type="text" name="nome" placeholder="Nome">
                </md-input-container>

            </div>

            <div layout="row">

                <md-input-container class="md-block" flex="100">
                    <md-icon class="material-icons">email</md-icon>
                    <input ng-model="model.email" type="text" name="email" placeholder="Email">
                </md-input-container>

            </div>

        </form>

    </md-card-content>


    <md-card-actions layout="row">
        <div layout-align="start center">
            <md-button class="md-raised md-primary" ng-click="consultar();">Consultar</md-button>
            <md-button class="md-raised" ng-click="limparFiltro();">Limpar</md-button>
        </div>
    </md-card-actions>
</md-card>

<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">
                Usuários
                <md-button class="md-raised" ng-click="cadastrar($event);">Novo</md-button>
            </span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>

        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head>
                <tr md-row>
                    <th md-column>Nome</th>
                    <th md-column>Email</th>
                    <th md-column>Perfil</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="usuario in paginaDeRegistros.registros"
                    style="cursor: pointer;" title="Ações"
                    ng-click="abrirMenu(usuario.id);">
                    <td md-cell>{{usuario.nome}}</td>
                    <td md-cell>{{usuario.email}}</td>
                    <td md-cell>{{usuario.descricao_perfil}}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>


    </md-card-content>


</md-card>

