<md-card>
    <form name="formCadastro" ng-submit="salvar();" novalidate>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Local</span>
                <span class="md-subhead">Cadastrar novo Local</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <div layout="row">

                <md-input-container class="md-block" flex="100">
                    <md-icon class="material-icons">assignment</md-icon>
                    <input ng-model="model.nome" required type="text" name="nome" placeholder="Nome" maxlength="100">
                    <div class="errors" ng-messages="formCadastro.nome.$error"
                         ng-show="formCadastro.nome.$invalid">
                        <div ng-message="required">Campo obrigatório</div>
                    </div>
                </md-input-container>

            </div>

            <div layout="row">

                <md-input-container class="md-block" flex="20">
                    <p><b>Tipo de Propriedade</b></p>
                    <md-radio-group ng-model="model.id_tipo_propriedade" layout="row" ng-change="zerarValorEntrada();">
                        <md-radio-button ng-repeat="t in tipos_propriedade" value="{{t.id}}" class="md-primary">
                            {{t.descricao}}
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>

                <md-input-container class="md-block" flex="80" ng-show="model.id_tipo_propriedade == 2">
                    <md-icon class="material-icons">attach_money</md-icon>
                    <input ng-model="model.valor_entrada" type="text" name="valor" maxlength="13"
                           ui-money-mask placeholder="Valor da Entrada">
                </md-input-container>

            </div>

            <ng-map center="[-21.602989,-48.364423]" zoom="12"
                    on-click="adicionarPino();">
                <marker position="{{pino.pos}}" title="pos: {{pino.pos}}"></marker>
            </ng-map>

        </md-card-content>

        <md-card-actions layout="row">
            <div layout-align="start center">
                <md-button class="md-raised md-primary" type="submit">Salvar</md-button>
                <md-button class="md-raised" ng-click="voltar();">Voltar</md-button>
            </div>
        </md-card-actions>

    </form>

</md-card>