<md-card>
    <form name="formFiltro">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Local</span>
                <span class="md-subhead">Locais mais populares</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>
            <md-grid-list
                    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="2:2"
                    md-gutter="12px" md-gutter-gt-sm="8px">


                <md-grid-tile class="red" md-rowspan="1"
                              md-colspan="2" md-colspan-sm="1" md-colspan-xs="1"
                              ng-repeat="l in paginaDeRegistros.registros"
                              ng-click="abrirMenu($event, l);"
                              style="cursor: pointer;">

                    <img ng-src="{{l.url_foto}}" layout-fill>
                    <md-grid-tile-footer>

                        <h3><b>{{l.nome}}</b></h3>

                    </md-grid-tile-footer>
                </md-grid-tile>

            </md-grid-list>
        </md-card-content>

        <md-card-actions layout="row">
            <div layout-align="start center">
                <md-button class="md-raised md-primary" ui-sref="local-cadastrar">
                    &nbsp;&nbsp;
                    Novo Local
                    &nbsp;&nbsp;
                </md-button>
            </div>
        </md-card-actions>

    </form>

</md-card>