<md-bottom-sheet class="md-grid" layout="column">
    <div layout="row" layout-align="center center" ng-cloak>
        <h4>Ações para o local</h4>
    </div>
    <div ng-cloak>
        <md-list flex layout="row" layout-align="center center">

            <md-list-item>
                <detalhar-imagem-component
                   lista="['Natureza','Animais','Esportes','Cultura','Urbano','Arquitetura','Diurna','Noturna']"
                   titulo="Título da Foto"
                   obj-imagem="{'url':'src/components/detalhar-imagem/modal/img-sabendo.jpg', 'descricao': 'Descrição da Foto'}">
                </detalhar-imagem-component>
            </md-list-item>

            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="verFotos($event);">
                        <md-icon class="material-icons" style="color: darkblue;">photo_library</md-icon>
                        <div class="md-grid-text"> Ver Fotos</div>
                    </md-button>
                </div>
            </md-list-item>

            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="editar();">
                        <md-icon class="material-icons" style="color: darkblue;">mode_edit</md-icon>
                        <div class="md-grid-text"> Editar</div>
                    </md-button>
                </div>
            </md-list-item>

            <md-list-item>
                <div>
                    <md-button class="md-grid-item-content" ng-click="excluir($event);">
                        <md-icon class="material-icons" style="color: red;">close</md-icon>
                        <div class="md-grid-text"> Excluir</div>
                    </md-button>
                </div>
            </md-list-item>

        </md-list>

    </div>
</md-bottom-sheet>