<nav class="text-center paginacao text-small" ng-show="paginaDeRegistros.total > 0">

    <ul class="pagination">

        <li ng-class="{disabled: pagina == 1}">
            <a ng-show="pagina &gt; 1" ng-click="pagina_onClick(1)" href="javascript:void(0)" aria-label="Primeira">
                <span aria-hidden="true">Primeira</span>
            </a>
            <a ng-show="pagina == 1" href="javascript:void(0)" aria-label="Primeira">
                <span aria-hidden="true">Primeira</span>
            </a>
        </li>

        <li ng-class="{ active: num == pagina }" ng-repeat="num in getRangeDePaginas(paginaDeRegistros.total)">
            <a ng-click="pagina_onClick(num)" href="javascript:">{{num}}</a>
        </li>

        <li ng-class="{'disabled': pagina == getTotalDePaginas(paginaDeRegistros.total)}">
            <a ng-click="pagina_onClick(getTotalDePaginas(paginaDeRegistros.total))" href="javascript:void(0)"
               aria-label="Última" ng-show="pagina &lt; getTotalDePaginas(paginaDeRegistros.total)">
                <span aria-hidden="true">Última</span>
            </a>
            <a href="javascript:void(0)"
               ng-show="pagina == getTotalDePaginas(paginaDeRegistros.total)"
               aria-label="Última">
                <span aria-hidden="true">Última</span>
            </a>
        </li>

    </ul>

</nav>
